.form-container {
  background-image:('./LandingImg/landingimg.png');
  background-size: cover;
  background-position: center;
  height: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: aquamarine;
  padding: 50px;
  border-radius: 10px;
}

.search-flights {
background-color: grey;



}
